<?xml version="1.0"?>
<config>
	<modules>
		<Crius_ConfigDanish>
			<version>0.3.0</version>
		</Crius_ConfigDanish>
	</modules>
	<global>
	    <blocks>
	       <configdanish>
	           <class>Crius_ConfigDanish_Block</class>
	       </configdanish>
	    </blocks>
	    <helpers>
	       <configdanish>
	           <class>Crius_ConfigDanish_Helper</class>
	       </configdanish>
	    </helpers>
	    <models>
	       <configdanish>
	           <class>Crius_ConfigDanish_Model</class>
	       </configdanish>
	    </models>
	</global>
	<frontend>
        <layout>
            <updates>
                <danishaddress>
                    <file>danishaddress.xml</file>
                </danishaddress>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <configdanish>
                    <file>configdanish.xml</file>
                </configdanish>
            </updates>
        </layout>
        <translate>
            <modules>
                <Crius_ConfigDanish>
                    <files>
                        <default>Crius_ConfigDanish.csv</default>
                    </files>
                </Crius_ConfigDanish>
            </modules>
        </translate>
        <menu>
            <system>
                <children>
                    <configdanish translate="title">
                        <title>Danish Configuration</title>
                        <action>adminhtml/configdanish</action>
                        <sort_order>11</sort_order>
                    </configdanish>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <configdanish translate="title">
                                    <title>Danish Configuration</title>
                                    <sort_order>11</sort_order>
                                </configdanish>
                                <config>
                                    <children>
                                        <configdanish translate="title" module="configdanish">
                                            <title>Danish Configuration</title>
                                        </configdanish>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Crius_ConfigDanish before="Mage_Adminhtml">Crius_ConfigDanish</Crius_ConfigDanish>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <configdanish>
            <addressforms>
                <enabled>0</enabled>
            </addressforms>
        </configdanish>
        <customer>
            <address_templates>
                <text><![CDATA[
{{depend company}}{{var company}}
{{/depend}}{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}
{{if street1}}{{var street1}}
{{/if}}{{depend street2}}{{var street2}}
{{/depend}}{{depend street3}}{{var street3}}
{{/depend}}{{depend street4}}{{var street4}}
{{/depend}}{{if postcode}}{{var postcode}} {{/if}}{{if city}}{{var city}}{{/if}}
{{var country}}
Tel: {{var telephone}}
{{depend fax}}Fax: {{var fax}}
{{/depend}}
                ]]></text>
                <oneline><![CDATA[{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}, {{var street}}, {{var postcode}} {{var city}}, {{var country}}]]></oneline>
                <html><![CDATA[
{{depend company}}{{var company}}<br />{{/depend}}
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}<br/>
{{if street1}}{{var street1}}<br />{{/if}}
{{depend street2}}{{var street2}}<br />{{/depend}}
{{depend street3}}{{var street3}}<br />{{/depend}}
{{depend street4}}{{var street4}}<br />{{/depend}}
{{if postcode}}{{var postcode}} {{/if}}{{if city}}{{var city}}{{/if}}<br/>
{{var country}}<br/>
{{depend telephone}}Tel: {{var telephone}}{{/depend}}
{{depend fax}}<br/>Fax: {{var fax}}{{/depend}}
                ]]></html>
                <pdf><![CDATA[
{{depend company}}{{var company}}|{{/depend}}
{{depend prefix}}{{var prefix}} {{/depend}}{{var firstname}} {{depend middlename}}{{var middlename}} {{/depend}}{{var lastname}}{{depend suffix}} {{var suffix}}{{/depend}}|
{{if street1}}{{var street1}}
{{/if}}
{{depend street2}}{{var street2}}|{{/depend}}
{{depend street3}}{{var street3}}|{{/depend}}
{{depend street4}}{{var street4}}|{{/depend}}
{{if postcode}}{{var postcode}} {{/if}}{{if city}}{{var city}}{{/if}}|
{{var country}}|
{{depend telephone}}Tel: {{var telephone}}{{/depend}}|
{{depend fax}}<br/>Fax: {{var fax}}{{/depend}}|
                ]]></pdf>
                <js_template template="title" module="customer">
                    <title>Javascript Template</title>
                    <defaultFormat><![CDATA[#{company}<br/>#{prefix} #{firstname} #{middlename} #{lastname} #{suffix}<br/>#{street0}<br/>#{street1}<br/>#{street2}<br/>#{street3}<br/>#{postcode} #{city}<br/>#{country_id}<br/>Tel: #{telephone}<br/>Fax: #{fax}]]>
                    </defaultFormat>
                </js_template>
            </address_templates>
        </customer>
    </default>
</config>
