<?xml version="1.0"?>
<config>
    <modules>
        <Pinknose_Remove>
            <version>0.1.0</version>
        </Pinknose_Remove>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Pinknose_Remove before="Mage_Checkout">Pinknose_Remove</Pinknose_Remove>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <remove>
                    <file>remove.xml</file>
                </remove>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <remove>
                <class>Pinknose_Remove_Model</class>
                <resourceModel>remove_mysql4</resourceModel>
            </remove>
            <remove_mysql4>
                <class>Pinknose_Remove_Model_Mysql4</class>
                <entities>
                </entities>
            </remove_mysql4>
        </models>
        <resources>
            <remove_setup>
                <setup>
                    <module>Pinknose_Remove</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </remove_setup>
            <remove_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </remove_write>
            <remove_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </remove_read>
        </resources>
        <blocks>
        	<checkout>
	    		<rewrite>
	    			<onepage>Pinknose_Remove_Block_Onepage</onepage>
	    		</rewrite>
	    	</checkout>
            <remove>
                <class>Pinknose_Remove_Block</class>
            </remove>
        </blocks>
        <helpers>
            <remove>
                <class>Pinknose_Remove_Helper</class>
            </remove>
        </helpers>
    </global>
</config>